* {
  border: 1px solid red;
  
}
.box1 {
  width: 300;
  height: 300;
}

.box2 {
  width: 300;
  height: 300;
}

.hh {
  padding: 10px;
  text-align:center;
}

.pp {
  padding: 10px;
  text-align:center;
  height: 300;
}